@model LoanManagementDone.Models.MultipleAdminView
@{
    ViewBag.Title = "HandleLoanApplications";
}
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



<br />
<br />
<br />
<br />
<h3>Borrower Details</h3>
<table class="table table-hover">




    <tr>
        <th>Customer ID</th>
        <td>@Model.CustomerAdminview.CustomerId</td>
    </tr>
    <tr>
        <th>Customer Name</th>
        <td>@(Model.CustomerAdminview.FirstName + " " + Model.CustomerAdminview.MiddleName + " " + Model.CustomerAdminview.LastName)</td>
    </tr>
    <tr>
        <th>Customer Phone Number 1</th>
        <td>@Model.CustomerAdminview.PhoneNumberOne</td>
    </tr>

    <tr>
        <th>Customer Phone Number 2</th>
        <td>@Model.CustomerAdminview.PhoneNumberTwo</td>
    </tr>

    <tr>
        <th>Total To Be Paid</th>
        <td>@Model.LoanApplicationAdminView.TotalAmount</td>
    </tr>
    <tr>
        <th>Loan Type</th>
        <td>@Model.LoanTypesAdminView.LoanName</td>
    </tr>

    <tr>
        <th>Loan Approval Date</th>
        <td>@Model.LoanApplicationAdminView.LoanApplicationApprovedDate</td>
    </tr>
    <tr>
        <th>Payment Date</th>
        <td>@Model.LoanApplicationAdminView.PaymentDate</td>
    </tr>


    <tr>
        <th>Payment Status</th>
        <td>@Model.LoanApplicationAdminView.PaymentStatus</td>
    </tr>


</table>

<a href="/Admin/BorrowerList" class="btn btn-info">Back to home Page</a>


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
