@model IEnumerable<LoanManagementDone.Models.MultipleClassApplication>

<br />
<br />


<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        <h3>Your Loan Applications</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Loan Id</th>
                        <th>Loan Control Number</th>
                        <th>Loan Amount</th>
                        <th>Total to be paid</th>
                        <th>Purpose</th>
                        <th>Loan Submission Date</th>
                        <th>Loan Type</th>
                        <th>Loan Status</th>
                        <th>Remarks From Lender</th>

                        <th>Details</th>

                     
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Loan Id</th>
                        <th>Loan Control Number</th>
                        <th>Loan Amount</th>
                        <th>Total to be paid</th>
                        <th>Purpose</th>
                        <th>Loan Submission Date</th>
                        <th>Loan Type</th>
                        <th>Loan Status</th>
                        <th>Remarks From Lender</th>
                        <th>Details</th>

                      
                    </tr>
                    <tr>
                        <td colspan="11">  <a href="/Customer/LoanCreate" class="btn btn-success "><i class="bi bi-plus-circle"></i>   Add New Loan Application</a></td>
                    </tr>

                </tfoot>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>@item.LoanApplicationsmultipleapp.LoanApplicationId</td>
                            <td>@item.LoanApplicationsmultipleapp.LoanControlNumber</td>

                            <td>@item.LoanApplicationsmultipleapp.LoanAmount</td>
                            <td>@item.LoanApplicationsmultipleapp.TotalAmount</td>
                            <td>@item.LoanApplicationsmultipleapp.Purpose</td>
                            <td>@item.LoanApplicationsmultipleapp.LoanApplicationSubmissionDate</td>


                            <td>@item.LoanTypesmultipleapp.LoanName</td>



                            <td>@item.LoanApplicationsmultipleapp.LoanStatus</td>
                            <td>@item.LoanApplicationsmultipleapp.Remarks</td>

                            <td>
                                <a href="/Customer/LoanAppDetails/@item.LoanApplicationsmultipleapp.LoanApplicationId" class="btn btn-info btn-rounded"><i class="bi bi-eye"></i>Details</a>
                            </td>

                            
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card-footer small text-muted">
    Updated on<div id="current_date">


        <script>
                    document.getElementById("current_date").innerHTML = Date();
        </script>
    </div>

</div>
